

theNav {
    overflow: hidden;
    background-color: rgba(23, 18, 25, .5);

}

body {
    font-family: 'Advent Pro', sans-serif;
}

.kids {
    /*margin-left: 17%;*/
    /*margin-right: 17%;*/
    /*padding-top: 70px;*/
    /*background-color: rgba(23, 18, 25, .5);*/
    /*color: white;*/
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin-bottom:0;
    background-color: #B3D2B2;
    /*z-index: -5;*/
}



.parentDiv {
    background-image: url(tinyhome1edit.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    position:relative;
    z-index: -3;
    /*width: 200px;*/
    margin-left: -30%;
    margin-right:;
    top: 0;
    height: 500px;


}


.tinyHomeImg{
    background-color: rgba(23, 18, 25, .5);
    height: 300px;
    /*background-size: cover;*/
    background-repeat: no-repeat;
    width: 200%;
    margin-left: -30%;
    /*position: fixed;*/
    /*margin-right: 120%;*/

    /*display: flex;*/
    top:-100px;

}

.homePictureText{
    text-align: center;
    padding-top:8%;
    font-size: 3em;
    color:white;
}

#loft{
    font-family: 'Architects Daughter', cursive;
    padding-left: -3%;
}

#beanloft {
    font-size: 3em;
}

#hotspot {
    padding-top: none;
}


.card img {
    height: 25em;
    width: 35em;
    /*padding-left: 25%;*/
}
.card {
    margin: 10%;
    text-align: center;
    width:35em;
    z-index: -1;

}


.section3 {
    background-color: #FFFD98;
    height: 400px;
    padding-left: 17%;
    padding-right: 17%;
}
.white {
    background-color: #DCE8DD;
    height: 400px;
    padding-left: 17%;
    padding-right: 17%;
}

.section5 {
    background-color: #9FBBCC;
    height: 400px;
    padding-left: 17%;
    padding-right: 17%;
}

.homeText {
    /*z-index: 1;*/
    font-family: 'Advent Pro', sans-serif;
    /*background-color: red;*/
    padding-left: 17%;
    padding-right: 17%;
}

.housePics {
    height: 250px;
    width: 350px
}
